USE [master]
GO
/****** Object:  Database [ScrapperDemo]    Script Date: 22/10/2015 14:11:51 ******/
CREATE DATABASE [ScrapperDemo] ON  PRIMARY 
( NAME = N'ScrapperDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SATWADHIR\MSSQL\DATA\ScrapperDemo.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ScrapperDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SATWADHIR\MSSQL\DATA\ScrapperDemo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ScrapperDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ScrapperDemo]
GO
/****** Object:  Table [dbo].[ScraperPageTextData]    Script Date: 22/10/2015 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ScraperPageTextData](
	[AWNO] [nchar](10) NOT NULL,
	[webURL] [varchar](50) NOT NULL,
	[web1URL] [varchar](50) NOT NULL,
	[web2URL] [varchar](50) NOT NULL,
	[isURLsimilar] [char](10) NOT NULL,
	[scrapDateTime] [datetime] NOT NULL,
	[pageContentText] [varchar](max) NULL,
	[SearchContentText] [varchar](max) NULL,
	[SearchDateTime] [datetime] NULL,
 CONSTRAINT [PK_ScraperPageTextData] PRIMARY KEY CLUSTERED 
(
	[AWNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ScraperRecordMain]    Script Date: 22/10/2015 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ScraperRecordMain](
	[AWNO] [nchar](10) NOT NULL,
	[webURL] [varchar](50) NOT NULL,
	[web1URL] [varchar](50) NOT NULL,
	[web2URL] [varchar](50) NOT NULL,
	[scrapDateTime] [datetime] NOT NULL,
	[AnalyzeNo] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_ScraperRecordMain] PRIMARY KEY CLUSTERED 
(
	[AWNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_ScraperRecordMain_ScraperPageTextData] UNIQUE NONCLUSTERED 
(
	[AnalyzeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ScrapperRecordsPreviousOnly]    Script Date: 22/10/2015 14:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ScrapperRecordsPreviousOnly](
	[AWNO] [nchar](10) NULL,
	[webURL] [varchar](50) NULL,
	[web1URL] [varchar](50) NULL,
	[web2URL] [varchar](50) NULL,
	[scrapDateTime] [datetime] NULL,
	[AnalyzeNo] [numeric](18, 0) NULL,
 CONSTRAINT [IX_ScrapperRecords] UNIQUE NONCLUSTERED 
(
	[AnalyzeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ScraperPageTextData]  WITH CHECK ADD  CONSTRAINT [webURL] FOREIGN KEY([AWNO])
REFERENCES [dbo].[ScraperPageTextData] ([AWNO])
GO
ALTER TABLE [dbo].[ScraperPageTextData] CHECK CONSTRAINT [webURL]
GO
USE [master]
GO
